@charset "utf-8";

/* 🐶 .loading */

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 20;
}

.loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

/* 🐺 .header */

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 19;
}

header .inner {
    width: 100%;
    height: 100%;
    border-bottom: #888 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div:nth-child(1) {
    padding-left: 50px;
}

header ul {
    display: flex;
    height: 100%;
}

header ul li {
    margin: 0 75px;
    font-size: 30px;
    font-weight: 700;
    line-height: 110px;
}

header div:nth-child(3) {
    width: 100px;
    height: 100%;
    background-color: #121212;
    position: relative;
    cursor: pointer;
}

header div:nth-child(3) img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 🐱 .profile */

.profile {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    background: url(../img/profile_logotransform.png) 0 0 / 100% 100% no-repeat;
}

.profile .icon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.profile .icon img {
    width: 42px;
    height: 42px;
    margin: 28px;
    cursor: pointer;
}

.profile .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.profile .inner .left {
    height: calc(100vh - 100px);
    margin-top: 100px;
}

.profile .inner .left h1 {
    font-size: 72px;
    font-weight: 700;
    font-style: italic;
    font-family: 'LeferiPoint-BlackA';
    line-height: 1.2;
}

.profile .inner .left p {
    width: 612px;
    line-height: 1.8;
    margin-top: 80px;
}

.profile .inner .right {
    margin-left: 370px;
}

.profile .inner .right ul {
    margin-bottom: 50px;
}

.profile .inner .right ul li:nth-child(1) {
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: underline;
}

.profile .inner .right ul li:nth-child(2) {
    line-height: 1.5;
}

.profile .inner .right ul li img {
    margin-right: 20px;
}

.profile .inner .right ul:nth-child(5) li img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.profile {
    display: none;
}

.profile.on {
    display: block;
}

/* 🦁 .main_visual */

.main_visual {
    width: 100%;
    height: calc(100vh - 100px);
    background: url(../img/mainvisual_logotransform.png) center center / cover no-repeat;
    margin: 100px 0 200px;
}

.main_visual h1 {
    font-family: 'LeferiPoint-BlackA';
    font-size: 80pt;
    font-weight: 700;
    font-style: italic;
    line-height: 1.3;
}

.main_visual h1:nth-child(1) {
    padding-top: 246px;
    padding-left: 800px;
}

.main_visual h1:nth-child(2) {
    padding-left: 860px;
}

.main_visual h1:nth-child(3) {
    padding-left: 650px;
}

/* 🐯 .video */

.video .list {
    width: 100%;
    height: 700px;
    border-top: #121212 solid 1px;
    padding-top: 30px;
}

.video .list .list_in {
    width: 952px;
    height: 100%;
    margin: 0 auto;
}

.video .list .list_in .swiper-wrapper .swiper-slide {
    width: 100%;
}

.video .list .list_in .swiper-wrapper .swiper-slide .video_warp {
    width: 952px;
    height: 534px;
    overflow: hidden;
}

.video .list .list_in .swiper-wrapper .swiper-slide .video_warp video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .list .list_in .swiper-wrapper .swiper-slide .top {
    width: 952px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.video .list .list_in .swiper-wrapper .swiper-slide .top h3 {
    font-size: 24px;
    font-weight: 700;
}

.video .list .list_in .swiper-wrapper .swiper-slide .top figure {
    display: flex;
    align-items: center;
}

.video .list .list_in .swiper-wrapper .swiper-slide .top a:nth-child(1) img {
    margin-right: 15px;
}

.video .list .list_in .swiper-wrapper .swiper-slide .bottom {
    width: 952px;
    margin-top: 20px;
}

.video .list .list_in .swiper-wrapper .swiper-slide .bottom div {
    display: flex;
    align-items: center;
}

.video .list .list_in .swiper-wrapper .swiper-slide .bottom div:nth-child(1) {
    margin-bottom: 5px;
}

.video .list .list_in .swiper-wrapper .swiper-slide .bottom div p {
    margin-right: 10px;
}





.web {
    margin-top: 200px;
}