@charset "utf-8";

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #121212;
    font-family: 'LeferiBaseType-RegularA';
    font-weight: 200;
}

.title h2 {
    font-family: 'LeferiPoint-BlackA';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.title h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.tab_menu {
    width: 1440px;
    margin: 100px auto 30px;
    display: flex;
}

.tab_menu li {
    height: 35px;
    padding: 0 10px;
    margin-right: 15px;
    border: #121212 solid 1px;
    line-height: 38px;
    cursor: pointer;
}

.tab_menu li:hover {
    background-color: #eee;
}

.tab_menu li.on {
    background-color: #121212!important;
    color: #fff;
}

.tools {
    display: flex;
    align-items: center; 
}

.tools p {
    margin-right: 10px;
}

.tools img {
    width: 21px;
    height: 21px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}